@font-face {
    font-family: imported;
    src: url("./fonts/Cyberion-Demo.ttf")
}
@font-face {
    font-family: jmh;
    src: url("./fonts2/JMH Typewriter.ttf")
}

html {
  scroll-behavior: smooth;
}

#cyber {
    font-family: imported;
}


#jmh {

   font-family: jmh;
   
}



#root {
    background-color: #303636;
   
    background-image: url("./images/white-painted-wall-texture-background 1 (3).png");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}